--swiftversion 6.0

# Indentation
--indent 4
--xcodeindentation enabled

# Line width
--maxwidth 140

# Wrapping rules
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen same-line

# Prevent breaking at dots/operators
--nowrapoperators

# Space operators
--nospaceoperators ...,..

# Exclude
--exclude Pods,Generated,.build
